* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#app{
  height:100%;
  
}

html.dark {
  background-color: #121212;
  color-scheme: dark;
}

::view-transition-old(root),
::view-transition-new(root){
  animation: none;
}